/* Form */
#form {
   min-width: 50vw;
}

form {
   background: var(--bg-form);
   border: 2px solid var(--secondary-color);
   border-radius: 0.5rem;
   padding: 2rem;
   font-size: 1.2rem;
}

form > div {
   display: grid;
   grid-template-columns: 100px 1fr;
   gap: 1rem;
   margin-top: 1rem;
}

label {
   color: var(--secondary-color);
   text-align: end;
}

input,
textarea {
   padding-left: 10px;
}

textarea {
   padding-top: 10px;
}

input,
select {
   border: 2px solid var(--no-focus-color);
}

input:focus,
section:focus {
   border: 2px solid var(--focus-color);
}

input.error-border,
#msg.error-border {
   border: 2px solid var(--error-color);
}

input.valid-border,
#msg.valid-border,
#subject.valid-border {
   border: 2px solid var(--valid-color);
}

form p {
   display: flex;
   margin-left: auto;
   width: 75%;
}

.err-msg {
   display: none;
   color: var(--error-color);
   font-size: 0.9rem;
   font-style: italic;
   opacity: 0;
   transition: opacity 0.6s ease;
}

.err-msg.show {
   display: block;
   opacity: 1;
}

.char-count {
   font-size: 0.9rem;
   font-style: italic;
   color: var(--inactive-color);
}

.char-count.under {
   color: var(--error-color);
}

.char-count.over {
   color: var(--valid-color);
}

.form-btns {
   display: flex;
   justify-content: end;
}

button {
   display: block;
   border-radius: 9999px;
   color: var(--secondary-color);
   font-size: 1.2rem;
   margin-top: 1rem;
   padding: 0.3rem 1.5rem;
   transition: all 0.3s ease;
   cursor: pointer;
}

button:hover {
   scale: 1.1;
}
